# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Media/Models
*.pth
*.png
*.jpg

# Thirdparty
*.zip

introspection_function/data_loader/__pycache__/
introspection_function/networks/__pycache__/
introspection_function/config/__pycache__/
introspection_function/.idea/
introspection_function/training/run_scripts/pretrained/
introspection_function/lib/nn/__pycache__/
introspection_function/lib/nn/modules/__pycache__/
introspection_function/lib/utils/__pycache__/
introspection_function/networks/models/__pycache__/
introspection_function/networks/models_light/__pycache__/
introspection_function/training/
introspection_function/pretrained/




introspective_ORB_SLAM/CMakeLists.txt.user
introspective_ORB_SLAM/Examples/Monocular/mono_euroc
introspective_ORB_SLAM/Examples/Monocular/mono_kitti
introspective_ORB_SLAM/Examples/Monocular/mono_tum
introspective_ORB_SLAM/Examples/Monocular/mono_airsim
introspective_ORB_SLAM/Examples/Stereo/stereo_airsim
introspective_ORB_SLAM/Examples/RGB-D/rgbd_tum
introspective_ORB_SLAM/Examples/ROS/ORB_SLAM2/CMakeLists.txt.user
introspective_ORB_SLAM/Examples/ROS/ORB_SLAM2/Mono
introspective_ORB_SLAM/Examples/ROS/ORB_SLAM2/MonoAR
introspective_ORB_SLAM/Examples/ROS/ORB_SLAM2/RGBD
introspective_ORB_SLAM/Examples/ROS/ORB_SLAM2/Stereo
introspective_ORB_SLAM/Examples/ROS/ORB_SLAM2/build/
introspective_ORB_SLAM/Examples/Stereo/stereo_euroc
introspective_ORB_SLAM/Examples/Stereo/stereo_kitti
introspective_ORB_SLAM/KeyFrameTrajectory.txt
introspective_ORB_SLAM/Thirdparty/DBoW2/build/
introspective_ORB_SLAM/Thirdparty/DBoW2/lib/
introspective_ORB_SLAM/Thirdparty/g2o/build/
introspective_ORB_SLAM/Thirdparty/g2o/config.h
introspective_ORB_SLAM/Thirdparty/g2o/lib/
introspective_ORB_SLAM/Vocabulary/ORBvoc.txt
introspective_ORB_SLAM/FrameTrajectory_KITTI_Format.txt
introspective_ORB_SLAM/FrameTrajectory_TUM_Format.txt
introspective_ORB_SLAM/KeyFrameTrajectory_TUM_Format.txt
introspective_ORB_SLAM/build/
introspective_ORB_SLAM/lib/
introspective_ORB_SLAM/scripts/
introspective_ORB_SLAM/Thirdparty/libtorch
*~

Jackal_Visual_Odom/
