# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


introspection_function/data_loader/__pycache__/
introspection_function/networks/__pycache__/
introspection_function/config/__pycache__/
introspection_function/.idea/
introspection_function/training/run_scripts/pretrained/
introspection_function/lib/nn/__pycache__/
introspection_function/lib/nn/modules/__pycache__/
introspection_function/lib/utils/__pycache__/
introspection_function/networks/models/__pycache__/
introspection_function/networks/models_light/__pycache__/
