<?xml version="1.0"?>

<!-- Resizes stereo images from 1224X1024 to 612X512 -->

<launch>
  <group ns="left">
    <node pkg="nodelet" type="nodelet" name="image_proc_resize" args="standalone image_proc/resize">
      <param name="scale_width" type="double" value="0.5" />
      <param name="scale_height" type="double" value="0.5" />
      <remap from="image" to="/stereo/left/image_raw"/>
      <remap from="camera_info" to="/stereo/left/camera_info"/>
    </node>
  </group>
  <group ns="right">
    <node pkg="nodelet" type="nodelet" name="image_proc_resize" args="standalone image_proc/resize">
      <param name="scale_width" type="double" value="0.5" />
      <param name="scale_height" type="double" value="0.5" />
      <remap from="image" to="/stereo/right/image_raw"/>
      <remap from="camera_info" to="/stereo/right/camera_info"/>
    </node>
  </group>
</launch>
